pre {
  color: #69707a;
}
.call_color {
  color:#ff3860;;
}
.songTitleHeader {
  font-weight: bold;
  border-bottom: 2px solid #ff3860;;
  width: 100vw;
  font-size: 1.4rem;
}

.comming_soon {
  display: none;
  padding: .5rem;
  background: #fce473;
}
.pointHeader {
  font-weight: bold;
  border-left: 1rem solid #ff3860;;
  font-size: 1rem;
  text-indent: 0.5rem;
}
.songHeader {
  font-weight: bold;
  border-left: 1rem solid #ff3860;;
  font-size: 1rem;
  text-indent: 0.5rem;
}