<!-- asstes -->
<link rel="stylesheet" href="../../css/lyrics.css">
<script>
  // まだできてないフラグ
  var pending = false;
</script>
<script src="../../js/lyrics.js"></script>

<!-- lyrics -->
<pre>
<div class='songTitleHeader'>Dream on,Dreamers</div>
<span class="comming_soon">まだコールが入力されていません</span>
<div class='pointHeader'>ポイント</div>
- 2Aに入る時のコールは
  NANASE推しじゃなくても高まるポイント
- イエッタイガー有り
- イントロのmixでリズムがずれる

（clap -♩- ）→ ２分
（clap -♪- ）→ ４分

<div class='songHeader'>歌詞</div>
<div class="buttons">
  <div id='fontSizeDown' class='button'>-</div>
  <div class='buttons__text'>FontSize</div>
  <div id='fontSizeUp' class='button'>+</div>
</div>
歌：Party Rockets GT
作詞：藤島美音子/平田博信
作曲：平田博信

イントロ　
<span class='call_color'>（clap -♪- ）</span> 
<span class='call_color'>（いくぞ！！）</span>  
<span class='call_color'>（おい！x４）</span>  
<span class='call_color'>（mix）</span>  

泥だらけの靴 見つめながら
<span class='call_color'>（clap -♩- ）</span> <span class='call_color'>（はるか）</span>  
泣いてたことを 思い出したよ
<span class='call_color'>（clap -♩- ）</span> <span class='call_color'>（俺のじゃないけど！ななせ）</span>  
つまづいた分だけ 強くなれる
<span class='call_color'>（clap -♩- ）</span> <span class='call_color'>（ほりお）</span>  
新しいチカラ 信じて
<span class='call_color'>（clap -♩- ）</span> <span class='call_color'>（ふみか）</span>  

どんなことだっていい 1つの壁を越えたら
<span class='call_color'>（clap -♪- ）</span> <span class='call_color'>（おい！x４）</span>  
すぐにわかるはず 限界の物差しは
いつも自分自身だったと

Just dream on, Dreamers 追いかけてゆけ
ボクらが 生きてる証を刻め!
<span class='call_color'>（はいせーの！おーい！おい！、おい！x４）</span>
Just dream on, Dreamers 覚悟を決めて
今しかない瞬間 駆け出そう
Dream on, Dreamers

<span class='call_color'>（あけおめ！あざお！も！なぁーまじ天使！）</span>

進んで来た道 振り返れば
<span class='call_color'>（clap -♩- ）</span> <span class='call_color'>（ななせ）</span> 
心折れそうな 自分に出会う
<span class='call_color'>（clap -♩- ）</span> <span class='call_color'>（心がふみふみ！ふみか）</span>
「ふりだしからでも 始められる」
<span class='call_color'>（clap -♩- ）</span> <span class='call_color'>（ひめか）</span>
新しい絆 誓って
<span class='call_color'>（clap -♩- ）</span> <span class='call_color'>（ほりお）</span>

未来はいつだって 何処か先に待つものじゃない
<span class='call_color'>（clap -♪- ）</span> <span class='call_color'>（おい！x４）</span>  
心の真ん中 少しずつ形を作ってる
君と会うために

Just dream on, Dreamers 追いかけてゆけ
描いた未来 それが答えだろう
<span class='call_color'>（はいせーの！おーい！おい！、おい！x４）</span>
Just dream on, Dreamers 覚悟を決めた
誰かの確かな夢 叶うよう
Dream on, Dreamers

間奏 <span class='call_color'>（おい！xいっぱい）</span>

Just dream on, Dreamers 追いかけてゆけ
ボクらが 生きてる証を刻め!
Just dream on, Dreamers 覚悟を決めて
今しかない瞬間 駆け出そう
<span class='call_color'>（イエッ！イエッ！イエッタイガー！）</span>
Just dream on, Dreamers あきらめないで
描いた未来 それが答えだろう
Just dream on, Dreamers 覚悟を決めた
みんなの確かな夢 叶うよう
Dream on, Dreamers
Dream on, Dreamers
</pre>