<!-- asstes -->
<link rel="stylesheet" href="../../css/lyrics.css">
<script>
  // まだできてないフラグ
  var pending = true;
</script>
<script src="../../js/lyrics.js"></script>

<!-- lyrics -->
<pre>
<div class='songTitleHeader'>妄想Chu⤴︎</div>
<span class="comming_soon">まだコールが入力されていません</span>
<div class='pointHeader'>ポイント</div>
- イントロは姫様Mixあり！ <a href='https://twitter.com/fukusyusyoZ/status/921176184402059264' target='_blank'>（誕生の瞬間まとめ）</a>
- みんなしゅき！ってなる可愛いとロックが合わさった名曲
<div class='songHeader'>歌詞</div>
<div class="buttons">
  <div id='fontSizeDown' class='button'>-</div>
  <div class='buttons__text'>FontSize</div>
  <div id='fontSizeUp' class='button'>+</div>
</div>
歌：Party Rockets GT
作詞：吉水孝之
作曲：三宅英明

退屈しのぎ 連発ツィート オッケー
いつでもどこでも キミを感じてたい
キスなんてしたら シロメむきそう
天使と天使 クルクル回る…

恋してるの!

妄想Chu⤴︎ ゆめかわいい
着せ替え中 イッツ・マイ・ハート
ピュアピュア♡(ラブ) キミに夢中だよ
駆け出しちゃう!

休み時間は 仲間とふざけて はい!ピース!
星のマーク 作れるよ 写メってタイムライン
くだらないこと大好き アハハ
今この瞬間(とき)が 最高でハッピー!

って思うけど…

妄想Chu⤴︎ やみかわいい
マスクでチュー なんていいな
ドキドキ 胸が 破裂しそうだよ
永遠に このまま時間 止まんないかな…

ラブラブだね きゅんとするね
はじめてだよ こんな気持ち
目が合うたび きょどってばっかり
秘密だよ…

妄想Chu⤴︎ ゆめかわいい
着せ替え中 イッツ・マイ・ハート
ピュアピュア♡(ラブ) キミに夢中だよ
駆け出しちゃう!

リツィート 10秒以内
いいことあるって マジかな?!
リツィート 10秒以内
ほんとにあったら ヤバくない?!
</pre>