<style>
  .call_color {
    color:#ff3860;;
  }
  .songTitleHeader {
    font-weight: bold;
    border-bottom: 2px solid #ff3860;;
    width: 100vw;
    font-size: 1.4rem;
  }
  .pointHeader {
    font-weight: bold;
    border-left: 1rem solid #ff3860;;
    font-size: 1rem;
    text-indent: 0.5rem;
  }
  .songHeader {
    font-weight: bold;
    border-left: 1rem solid #ff3860;;
    font-size: 1rem;
    text-indent: 0.5rem;
  }
</style>
<pre style='color: #69707a'>
<div class='songTitleHeader'>セツナソラ</div>
<div class='pointHeader'>ポイント</div>
- 曲中、特にサビは振りコピをしている人が多い曲
- Bメロのコールは全力の愛を込める

<div class='songHeader'>歌詞</div>
歌：Party Rockets GT
作詞：吉水孝之
作曲：三宅英明

誰もいない教室で はじめてのKISS 泣いちゃった
黒板の落書き そっと消したよ <span class="call_color">(ななせ)</span>
夢が飛び交う グラウンド 青空の放物線
触れ合った手をとって 笑う 君が好きだ

あっという間に トキメキは消えてしまうんだって…
<span class="call_color">(ふーみかx７)</span>
忘れない 見上げる空 秋の色
         <span class="call_color">(ほーりおx４)</span>
そして みんな大人になるのかな?

教えて! ねぇ ねぇ
恋心 抱きしめた セツナソラ…
どうして? ねぇ ねぇ
好きなのに… なぜ? 涙こぼれるの?

1＋1が0になる そんな日が来るのなら
友だちのままでいたい… <span class="call_color">（ほ、ほ、ほ、ほりおー）</span>
まっすぐに引いた白線 ふたりの境界線
この痛み どこから来るの?

甘いだけのチョコレート いつも分け合ってた
<span class="call_color">(ふーみかx７)</span>
忘れない 夕焼け空 秘密基地
        <span class="call_color">（なーなせx４）</span>
ずっと 夢の中にいた気がするよ

教えて! ねぇ ねぇ
ときめいた この胸はセツナソラ…
答えて! ねぇ ねぇ
うつむいた 横顔が離れない…

＊間奏　後半<span class="call_color">（オイ！x24）</span>
いっぱい揺れてる 思い出 ヒマワリたち
聞こえるよ 聞こえるよ 目を閉じれば 懐かしいメロディー

ねぇ ねぇ
ときめいた この胸はセツナソラ…
答えて! ねぇ ねぇ
うつむいた 横顔が離れない…

教えて! ねぇ ねぇ
恋心 抱きしめた セツナソラ…
どうして? ねぇ ねぇ
好きなのに… なぜ? 涙こぼれるの?

呼ぶ声がする
振り返ったら 遠ざかる空

夏が終わるよ…
</pre>

<script>
  // // コールの部分をカラーチェンジ
  // var spanOpen = '<span style="color:red">';
  // var spanClose = '</span>';
</script>