<!-- asstes -->
<link rel="stylesheet" href="../../css/lyrics.css">
<script>
  // まだできてないフラグ
  var pending = true;
</script>
<script src="../../js/lyrics.js"></script>

<!-- lyrics -->
<pre>
<div class='songTitleHeader'>01-ゼロイチ-</div>
<span class="comming_soon">まだコールが入力されていません</span>
<div class='pointHeader'>ポイント</div>
- AYUMIの英語がめちゃんこカッコいい
- イエッタイガー有り

（clap -♩- ）→ ２分
（clap -♪- ）→ ４分

<div class='songHeader'>歌詞</div>
<div class="buttons">
  <div id='fontSizeDown' class='button'>-</div>
  <div class='buttons__text'>FontSize</div>
  <div id='fontSizeUp' class='button'>+</div>
</div>
歌：Party Rockets GT
作詞：吉水孝之
作曲：三宅英明

イントロ　
<span class='call_color'>(おい！xいっぱい )</span>

大いなる手のひら　気まぐれな手のひら
<span class='call_color'>(clap -♪- )</span>
種のように　ばら撒かれたんだ
<span class='call_color'>(clap -♪- )</span>
生まれ落ちた世界　手札の違うカード　持たされた数は同じはず
<span class='call_color'>(clap -♪- )</span>

運がいいとか　よくないとか　笑い話にしないで！
<span class='call_color'>(clap -♩- )</span>
何を掛けても0になるなら　生きてゆく価値もない
<span class='call_color'>(clap -♩- )</span>
十字路に立つ　誰かの影 <span class='call_color'>(おい！おい！)</span>

Can you take me faraway？　
すべてを賭けて　どうせ一度の人生ならば

Just try to win everyday　
世界を変える　ボクの明日は　ボクだけのもの

勝者と敗者の論理　自由と束縛のシーソーゲーム
幸福(しあわせ)の定義

あり余る時間と　あり余る富はイコールかな？
それは Live or die？

裏表だね　受け入れるの？　それとも勝負するの？
1にするんだ！　未来に向かって一歩　踏み出すのなら
命　燃やせ　サバイバル Be alive！！

Can you take me faraway？　
迷いを捨てて　後悔なんてしたくないから

Just try to win everyday　
自分を変えて　キミの明日は　キミだけのもの

0 to 1... There is nothing we cannot do！！
Take a chance！！ Believe in yourself... you can do it！！
0 to 1... There is nothing we cannot do！！
Today is the first day of the rest of your life！！

悪魔に魂を売り渡したっていい　望みが叶うものならば…
そんな絵空事に　酔いしれた夢なんて　信じない
掴みとって戦え！

Can you take me faraway？　
すべてを賭けて　どうせ一度の人生ならば

Just try to win everyday　
世界を変える　ボクの明日は　ボクだけのもの

Can you take me faraway？　
迷いを捨てて　後悔なんてしたくないから

Just try to win everyday　
自分を変えて　キミの明日は　キミだけのもの

ボクだけのもの　01に成れ！

01…
0 to 1... There is nothing we cannot do！！
Take a chance！！ Believe in yourself... you can do it！！
0 to 1... There is nothing we cannot do！！
Today is the first day of the rest of your life！！
</pre>