<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-96191496-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-96191496-2');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <title>PRGT</title>
  <!-- ogp start -->
  <meta property="og:site_name" content="\ PRGTのコール /">
  <meta property="og:title" content="PRGTのコール">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://ozepon.github.io/prgt-zdc1217/">
  <meta property="og:image" content="https://ozepon.github.io/prgt-zdc1217/image/dod.png">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="https://ozepon.github.io/prgt-zdc1217/">
  <meta name="twitter:image" content="https://ozepon.github.io/prgt-zdc1217/image/dod.png">
  <!-- ogp end -->
  <!-- twitter widget -->
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <link rel="stylesheet" href="../../css/app.css">
  <script src="../../js/app.js"></script>
</head>
<body>
  <header class="nav is-info">
    <div class="nav-left">
      <span class="nav-item">
        <a id="siteTitle" href='../../index.html'></a>
      </span>
    </div>
    <div class="nav-right">
      <span class="nav-item">
        <a href="https://ticket.rakuten.co.jp/music/jpop/idle/RTRNPRF" class="button is-primary" target='_blank'>
          <i class="fa fa-ticket" aria-hidden="true"></i>
          <span class="ticketText">2017.12.17 Ticket</span>
        </a>
    </div>  
  </header>
  <div class="youtube_wrap">
    <div id="player"></div>
  </div>
  <div id="lyrics">
    <iframe id='lyricsFrame' src="" frameborder="0"></iframe>
  </div>
  <div class="song_footer">
    <div class="ticket_link">
      <a href="https://ticket.rakuten.co.jp/music/jpop/idle/RTRNPRF" class="button is-primary" target='_blank'>
        <i class="fa fa-ticket" aria-hidden="true"></i>
        <span class="ticketText">2017.12.17 Ticket</span>
      </a>
    </div>
    <div class="footer__twitter_button">
      <a class="twitter-share-button"
      href="https://twitter.com/share"
      data-size="large"
      data-related="twitterapi,twitter"
      data-hashtags="パティロケ,パティロケZDC1217,コール"
      data-text="パティロケのコール練習中！"
      data-lang="en"
      data-dnt="true">Tweet</a>
    </div>
  </div>
  <script>
    window.onload = function() {
      // page data
      var key = getUrlVars()['song'];
      var song = songs[key];

      if(song) {
        // todo: songが無い場合はエラーのするべき
      }

      // siteTitleを設定
      document.getElementById('siteTitle').innerHTML = siteTitle;
      // lyricsのheightを設定
      var lyrics = document.getElementById('lyrics');
      var height = getLyricsHeight();
      lyrics.style.height = height;
      lyrics.firstElementChild.style.height = height;

      // title を設定
      var title = document.getElementsByTagName('title')[0];
      title.innerHTML = siteTitle + '【' + song['songName'] + '】';

      // iframeを設定
      var iframe = document.getElementById('lyricsFrame');
      iframe.src = '../lyrics/' + song['path'];
    }
  </script>
</body>
</html>